@import 'variables';

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: $font-color-primary;
    text-decoration: none;
    display: inline-block;

    &:hover, :focus {
        text-decoration: underline;
    }
}

img {
    height: 100%;
}

a.button {
    text-transform: uppercase;
    background-color: $background-color-primary;
    border: 1px solid $gray;
    text-decoration: none;
    font-weight: bold;
}
