.centeredContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  box-sizing: border-box; }

.tile__container {
  min-width: 300px;
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 0 1.5% 30px 1.5%;
  box-sizing: border-box; }

.tile__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  margin-bottom: 5px;
  display: flex;
  align-items: center; }
  .tile__heading > span {
    flex: 1; }

.tile__logo {
  height: 30px; }

.tile__description {
  font-size: 14px;
  line-height: 1.4;
  color: #767676; }

.tile__videoButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 10px 0;
  font-style: oblique;
  font-weight: bold;
  font-size: 14px;
  color: #767676;
  cursor: pointer; }

.tile__github {
  background-color: #fff; }
