@import '../../styles/variables';

.repositories {
    &__container {
        @extend .centeredContainer;
        padding: 30px 20px;
    }

    &__heading {
        font-size: 28px;
        font-weight: bold;
        color: $font-color-secondary;
        background-color: $background-color-secondary;
        display: inline-block;
        padding: 10px 20px;

        transform: rotate(-3deg);
    }
}